@using Microsoft.AspNetCore.Identity
@model IEnumerable<FarmsAndFairytalesWebsite.Models.Event>

@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Index";
}

@section Styles {
	<link rel="stylesheet" href="~/css/events.css" />
}

<h1 id="welcome-text">Upcoming Events!</h1>

<div class="table-responsive">
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.DateOfEvent)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.EventName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PhotographerHost)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@item.DateOfEvent.ToString("MM/dd/yyyy")
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.EventName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PhotographerHost)
					</td>
					<td>
						<a asp-action="Details" asp-route-id="@item.EventId" class="btn btn-dark">View</a>
					</td>
				</tr>
			}
		</tbody>
	</table>

	@if (SignInManager.IsSignedIn(User))
	{
		<div class="create-event">
			<a asp-action="Create" class="btn btn-primary">Create Event</a>
		</div>
	}
</div>

