@model FarmsAndFairytalesWebsite.Models.BookedTimeSlots


<div>
	<h1>Would you like to book this time slot?</h1>

	<div>
		<h4>Indoor Studio</h4>
		<h5>
			On @Model.Start.Date.ToString("MM/dd/yyyy")
			<br />
			Starting at: @Model.Start.ToString("hh:mm tt") and ending at: @Model.End.ToString("hh:mm tt")
		</h5>
	</div>
	<form asp-action="IndoorBookingConfirmation" method="post">
		<input type="hidden" name="id" value="@Model.BookedTimeSlotId" />
		<div class="form-group">
			<button type="button" onclick="window.location.href='@Url.Action("Indoor")'" class="btn btn-primary">Book</button>
			<button type="submit" class="btn btn-danger">Cancel</button>
		</div>
	</form>
</div>
